DB_USER = "postgres"
DB_PASSWORD = 
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "internship_tracker"
ENV = "development"

GOOGLE_CLIENT_SECRET_FILE = "app/configuration.json"
GOOGLE_REDIRECT_URI = "http://localhost:8000/auth/callback"
GOOGLE_SCOPES = "openid,https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile,https://www.googleapis.com/auth/gmail.readonly"

SECRET_KEY = ITr
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7
