DB_USER = "postgres"
DB_PASSWORD = "intershiTracker"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "internship_Tracker_db"

GOOGLE_CLIENT_SECRET_FILE = "app/configuration.json"
GOOGLE_REDIRECT_URI = "http://YOUR_SERVER}/auth/google/callback"
GOOGLE_SCOPES = "https://www.googleapis.com/gmails.readonly"